/.build/
/ios/Pods/
/node_modules/
/build/
/android/app/build/
/awesome-project.xcworkspace/
/awesome-project/android/app/build/
/awesome-project/ios/Build/
/awesome-project/ios/DerivedData/
/awesome-project/.DS_Store
/awesome-project/fastlane/
/awesome-project/Pods/